{$PUBLIC_WEB_HOST:localhost} {
    reverse_proxy nexus-web:3000 {
        header_up X-Forwarded-Proto {scheme}
    }
}

{$PUBLIC_API_HOST:api.localhost} {
    reverse_proxy abi:9879 {
        header_up X-Forwarded-Proto {scheme}
    }
}

{% if INCLUDE_HEADSCALE %}
{$HEADSCALE_SERVER_URL:headscale.localhost} {
    reverse_proxy headscale:8080 {
        header_up X-Forwarded-Proto {scheme}
    }
}
{% endif %}
