# Jupyter Notebook
.ipynb_checkpoints
*Untitled.ipynb

# Data
*.csv
*.xlsx
*.json
*.parquet
*.logs

# Models
pipeline_executions

# Outputs
outputs

# App
__pycache__
.streamlit/secrets.toml
.env
.DS_Store
neo4j_data
.abi-conda

# Entities + Secrets
config.secret.yml