
auto_publish:
  enabled: true # Enable automatic publishing of agents to workspace
  exclude_agents: [] # Agents to exclude from auto-publishing (empty list means publish all enabled agents)
  default_agent: "Abi" # Which agent to set as default in workspace

api:
  title: "ABI API"
  description: "API for ABI, your Artifical Business Intelligence"
  logo_path: "assets/logo.png"
  favicon_path: "assets/favicon.ico"
  cors_origins:
    - "http://localhost:9879"


global_config:
  ai_mode: "cloud"

modules:
  - module: naas_abi
    enabled: true
  - module: naas_abi_marketplace.ai.chatgpt
    enabled: true
    config:
      openai_api_key: "{{ secret.OPENAI_API_KEY }}"
  - module: naas_abi_marketplace.ai.gemini
    enabled: true
    config:
      gemini_api_key: "{{ secret.GEMINI_API_KEY }}"
  - module: naas_abi_marketplace.applications.google_search
    enabled: true
    config:
      google_api_key: "{{ secret.GOOGLE_API_KEY }}"
      google_search_engine_id: "{{ secret.GOOGLE_SEARCH_ENGINE_ID }}"
  - module: naas_abi_marketplace.domains.support
    enabled: true
    config:
      github_access_token: "{{ secret.GITHUB_ACCESS_TOKEN }}"

services:
  secret:
    secret_adapters:
      - adapter: "dotenv"
        config: {}
  object_storage:
    object_storage_adapter:
      adapter: "fs"
      config:
        base_path: "storage/object_store"
  triple_store:
    triple_store_adapter:
      adapter: "fs"
      config:
        store_path: "storage/triplestore"
  vector_store:
    vector_store_adapter:
      adapter: "qdrant"
      config: {}
