deploy:
  workspace_id: "96ce7ee7-e5f5-4bca-acf9-9d5d41317f81"
  space_name: "abi-api"
  naas_api_key: "{{ secret.NAAS_API_KEY }}"
  env:
    NAAS_API_KEY: "{{ secret.NAAS_API_KEY }}"
    OPENAI_API_KEY: "{{ secret.OPENAI_API_KEY }}"
    ABI_API_KEY: "{{ secret.ABI_API_KEY }}"

api:
  title: "ABI API"
  description: "API for ABI"
  logo_path: "assets/logo.png"
  favicon_path: "assets/favicon.ico"
  cors_origins:
    - "http://localhost:9879"
    - "http://localhost:3042"

global_config:
  ai_mode: "cloud"

modules:
  - module: naas_abi
    enabled: true
    config:
      nexus_config:
        database_url: "postgresql+asyncpg://{{ secret.POSTGRES_USER }}:{{ secret.POSTGRES_PASSWORD }}@postgres:5432/nexus"
        redis_url: "redis://redis:6379/0"
        cors_origins_str: "http://localhost:3042,http://127.0.0.1:3042"

  - module: naas_abi_marketplace.ai.chatgpt
    enabled: true
    config:
      openai_api_key: "{{ secret.OPENAI_API_KEY }}"

services:
  secret:
    secret_adapters:
      - adapter: "dotenv"
        config: {}
  object_storage:
    object_storage_adapter:
      adapter: "s3"
      config:
        bucket_name: "abi"
        base_prefix: "abi/datastore"
        access_key_id: "{{ secret.MINIO_ROOT_USER }}"
        secret_access_key: "{{ secret.MINIO_ROOT_PASSWORD }}"
        endpoint_url: "http://minio:9000"
  triple_store:
    triple_store_adapter:
      adapter: "apache_jena_tdb2"
      config:
        jena_tdb2_url: "http://admin:{{ secret.FUSEKI_ADMIN_PASSWORD }}@fuseki:3030/ds"
  vector_store:
    vector_store_adapter:
      adapter: "qdrant"
      config:
        host: "qdrant"
        port: 6333
  bus:
    bus_adapter:
      adapter: "rabbitmq"
      config:
        rabbitmq_url: "amqp://{{ secret.RABBITMQ_USER }}:{{ secret.RABBITMQ_PASSWORD }}@rabbitmq:5672"
  kv:
    kv_adapter:
      adapter: "redis"
      config:
        redis_url: "redis://redis:6379"
