services:
  # abi:
  #   build: .
  #   ports:
  #     - 9879:9879
  #     - 8501:8501
  #   volumes:
  #     - .:/app
  #     - cargo-cache:/root/.cargo
  #   environment:
  #     - PYTHONPATH=/app
  #   env_file:
  #     - .env
  #   command: ["uv", "run"]

  ollama:
    image: alpine/ollama
    ports:
      - 11434:11434
    volumes:
      - ollama-cache:/root/.ollama
    environment:
      - OLLAMA_HOST=0.0.0.0

volumes:
  # cargo-cache:
  ollama-cache:
